<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ docTitle }}</title>
        <link rel="stylesheet" href="/css/main.css">
        {{#if indexCSS}}
        <link rel="stylesheet" href="/css/index.css">
        {{/if}}

    </head>
    <body>
        <header class="main-header">
            <nav class="main-header__nav">
                <ul class="main-header__item-list">
                    <li class="main-header__item"><a href="/" class="{{#if activeHome}}active{{/if}}">Home</a></li>
                    <li class="main-header__item"><a href="/users" class="{{#if activeUsers}}active{{/if}}">Users</a></li>
                    <li class="main-header__item"><a class="link-disabled">This is Handlebars</a></li>


                </ul>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
    </body>
    </html>