body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    display: inline;
}


/* cart container */
.cart {
    width: 80%;
    margin: auto;
}

/* cart item */

.cart-item {
    display: block;
    max-width: 100%;
    margin: 3rem auto;
    background: #f1f1f1;
    padding-bottom: 2rem;
}

/* item */
.cart-item-body {
    display: block;
    text-align: center;
    padding-top: 0.5rem;
}

.cart-item-body {
    display: flex;
    justify-content: space-around;
}

.cart-flex-container {
    display: flex;
    padding: 0 0;
    height: 100%;
}

.cart-flex-container--flex-3 {
    flex: 3;
}

.cart-flex-container--flex-5 {
    flex: 5;
}

/* header */
    
.cart-item-header {
    display: block;
    text-align: center;
    padding: 1rem 0;
}

.cart-content {
    display: block;
    width: 100%;
}

/* image */

.cart-content__image {
    width: 20rem;
    height: 25rem;
    display: table-cell;
    vertical-align: middle;
}

.cart-content__image-picture {
    max-width: 20rem;
    max-height: 25rem;
}


/* description */

.cart-content__description {
    display: block;
    text-align: left;
    margin: 3rem 4rem 3rem 0;
    color: #5a5a5a;
}

/* cart actions */

.cart-content__actions {
    min-width: 20rem;
}

.cart-actions {
    display: block;
    padding-bottom: 2rem;
    text-align: left;
}

.cart-actions__item-price {
}

.cart-actions__item-amount {
    padding: 0.3rem 0;
}

.cart-actions__change-amount {
    display: inline;
}

.cart-inline-form {
    display: inline;
}

.cart-actions__change-amount__p {
    display: inline;
}

.cart-actions__set-amount__p {
    display: inline;
}

.cart-actions__total {
    padding-top: 1rem;
}

.cart-actions__total__h2 {
    display: inline;
    margin-right: 1rem;
}

/* buttons */

.btn {
    padding: 0 0.75rem;
    margin: 0 0.15rem;
}

.btn__cart {
    display: inline;
}

.btn__cart--big {
    display: inline;
    padding: 0.3rem 0.5rem;
    margin-top: 1rem;
}

/* input fields */
.input-number-small {
    display: inline;
}
